<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <!-- Leaflet JS -->
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <!-- Additional leaflet js -->
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
    <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
    <!-- JQUERY -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <title>PlaceLocator</title>
  </head>
  <% include ../views/partials/navbar.ejs %>
  <body>
    <div class="container-maps">
      <div class="map-content">
        <h4><%= name %></h4>
        <div class="map_placeholder">
          <div class="custom_grid_2" id="singleMap" style="height: 300px"></div>
        </div>
          <h4 class="mt-4">Category</h4>
          <form action="" method="POST">
          <div style="float: right;">
            <%if(!owned && user_id) {%>
          <button name="addMap" value="True" class="btn btn-light">Add Map <b>+</b></button>
          <%}%>
          <%if(owned && user_id) {%>
            <button name="addMap" value="False" class="btn btn-light">Delete Map</button>
            <%}%>
          <%if(!favorite && user_id) {%>
          <button name="favMap" value="True" class="btn btn-light">Favorite Map ❤</button>
          <%}%>
          <%if(favorite && user_id) {%>
            <button name="favMap" value="False" class="btn btn-light">Unfavorite Map ♡</button>
            <%}%>
        </div>
      </form>
        <p><%= category %></p>
        <!-- defining the variables -->
        <% let flagDesc = JSON.parse(flagDescription) %> <% let flagN =
        JSON.parse(flagName) %> <% let flagURL = JSON.parse(flagImageUrl) %>

        <div class="current-flags">
          <% flagDesc.forEach((el, i) => {%>
          <div class="alert alert-primary flag-brief" role="alert">
            <div class="flag-details">
              <h6>
                <%= flagN[i] %> - <%= el%>
              </h6>
            </div>
            <%if(flagURL.length) {%>
            <img src="<%= flagURL[i]%> %>" style="width: 100%" />
            <% } %>
            <div class="flag-buttons mt-5">
              <% if(user_id && owner) { %>
              <form action="" method="POST">
              <button name="editFlag" value="<%= i %>" class="btn btn-warning">Edit</button>
              <button name="deleteFlag" value="<%= i %>" class="btn btn-danger">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
          <% })%>
        </div>
      </div>
      <% if(user_id){ %>
        <div class="flag-content hidden">
          <!-- THIS IS THE FORM [START]-->
          <h6>Add the details of place</h6>
          <form action="/maps/<%= routing %>" method="POST">
            <div class="form-group">
              <label for="flagName">Name</label>
              <input
                type="text"
                name="flagName"
                class="form-control"
                id="flagName"
                aria-describedby="name of flag"
                placeholder="Enter name please"
              />
            </div>
            <div class="form-group">
                <input
                  type="hidden"
                  class="form-control"
                  name="address"
                  value=""
                />
              </div>
              <div class="form-group">
                  <input
                    type="hidden"
                    class="form-control"
                    name="coordinates"
                    value=""
                  />
                </div>
            <div class="form-group">
              <label for="flagDescription">description</label>
              <textarea
                type="text"
                name="flagDescription"
                class="form-control"
                id="flagDescription"
                aria-describedby="description"
                placeholder="Add description"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="imageURL">Image URL</label>
              <input type="text" name="imageURL" class="form-control" id="imageURL" placeholder="Select image URL" />
            </div>

            <button name="sendFlag" value="True" type="submit" class="btn btn-primary flagSubmit">Submit</button>
          </form>
          <!-- [FORM END] -->
      </div>
                <!-- Hidden form -->
      <form action="/maps/<%= routing %>" method="POST" id="flagForm">
        <input
        type="hidden"
        class="form-control"
        name="flagCoordinates"
        value=""
        id="flagCoordinates"
      />
      </form>
      <%} else {%>
        <div class="flag-content hidden">
          <p>You need to login to add this to marker</p>
        </div>
        <%}%>
    <script>
      let latLangRaw = "<%= mapDetails %>";
      let latLang = latLangRaw.split(",").map(Number);
      let flagCordsRaw = "<%= flagCords %>";
      let flagCords = JSON.parse(flagCordsRaw);
      let name = "<%= name %>";
      let category = "<%= category %>";
      //This is the data, that will be passed to function to create MAP
      let data = {
        latLang: latLang,
        flagCords: flagCords,
        name: name,
        category: category
      };
      let address = '';
      let coords = '';

      //CREATING FUNCTION TO LOAD MAP
      const createSingleMap = data => {
      let map = L.map("singleMap", {
      center: data.latLang,
       zoom: 12
      });
      L.control.scale().addTo(map);
      L.tileLayer(
      "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
      {
      id: "mapbox.streets"
       }
      ).addTo(map);
      const onPopupOpen = () => {
    $(".marker-delete-button:visible").click(function() {
      results.clearLayers();
      $(".flag-content").addClass("hidden");
    });
  };
  let searchControl = new L.esri.Controls.Geosearch().addTo(map);
  let results = new L.LayerGroup().addTo(map);
  searchControl.on("results", function(data) {
    for (let i = data.results.length - 1; i >= 0; i--) {
      //Starting with blank canavas
      results.clearLayers();
      //Init marker
      let markerOne = L.marker(data.results[i].latlng);
      //Add marker layer
      results.addLayer(markerOne);
      //Add popup with X
      markerOne.bindPopup(
        "<input type='button' value='Delete this marker' class='marker-delete-button'/>"
      );
      //Adding function to delete the marker on click
      markerOne.on("popupopen", onPopupOpen);
      coords = data.results[i].latlng;
      address = data.results[i].address;
      $(".hidden").removeClass("hidden");
          }
        });
       setTimeout(function() {
         $(".pointer").fadeOut("slow");
       }, 3400);
      
       //Creating function to call flag click
       function flagClicker(e){
          let flagCoords = e.latlng;
         console.log("Coords are", e.latlng);
         //assign values to inputs hidden
         $("input[name=flagCoordinates]").val(flagCoords);
         $('#flagForm').submit();
        //  $.ajax({
        //   type: "POST",
        //   url: "/maps/2",
        //   contentType: "application/json;charset=UTF-8",
        //   data: JSON.stringify(e.latlng),
        //   dataType: "json"
        // }).done(function(response){
        //   console.log(response);
        // }).fail(function(err){
        //   console.error(err);
        // })
       }
       //From database
       data.flagCords.forEach(flag => {
        L.marker(flag).on("click", flagClicker).addTo(map);
      });
       map.fitBounds(data.flagCords);
       return address, coords;
      };
    $('.flagSubmit').on("click", function(){
      $("input[name=coordinates]").val(coords);
      $("input[name=address]").val(address);
    });


    createSingleMap(data);
    </script>
  </body>
</html>

<!-- //  function markerOnClick(e){
  //    console.log("%%%");
  //     // console.log(this.getLatLng());
  //    let latLRaw = this.getLatLng()
  //   //  let latL = latLRaw.substring(6);
  //   let lattitude = latLRaw.lat;
  //   let longitude = latLRaw.lng;
  //   console.log("hi. you clicked the marker at " + latLRaw.lat + ' ' + latLRaw.lng);
  //   const latlng = [lattitude, longitude];
  //   console.log(latlng)
      //     L.marker(flag).bindPopup(
//     "<input type='button' value='Explore this marker' class='marker-explore-button'/>"
//       ).addTo(map);
//   L.marker(flag).on("popupopen", onPopupOpenA)

  // } -->
<!-- 
  //   function markerOnClick()
  //     { console.log("hiii") }

  //   const onPopupOpenA = (e) => {
  //     console.log('OPEN')
  //   $(".marker-explore-button").on('click', markerOnClick);
  // }; -->