<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>PlaceLocator</title>
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <!-- Leaflet JS -->
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
  </head>
  <% include ../views/partials/navbar.ejs %>
  <body>
    <div class="container-fluid">
      <div class="header_front">
        <h2 class="">My Contributions</h2>
        <% if(user_id) { %>
        <div class="col my-auto text-right">
          <a href="/create" class="btn btn-primary">Create New Map</a>
        </div>
        <% } %>
      </div>
    </div>
    <div class="custom_grid"></div>
  </body>
  <script>
    let latlangRaw = "<%= latlngData %>";
    let nameRaw = "<%= name %>";
    let categoryRaw = "<%= category %>";
    let flagRaw = "<%= flags %>";
    let idRaw = "<%= id %>";

    let latlang = JSON.parse(latlangRaw);
    let name = nameRaw.split(",");
    let category = categoryRaw.split(",");
    let flags = JSON.parse(flagRaw);
    let id = idRaw.split(",");
    let y = [latlang, name, category, flags, id];
    mapCreator(y);
  </script>
</html>
